<div class="container">
    <% if @recipe.comments.size > 0 %>
        <div class="mt-4 p-5 bg-light rounded mb-4">
            <ul>
                <% @comments.each do |comment| %>
                    <li>
                        <p>
                            <%= comment.name %> <small class="small_font_rating"><%= pluralize(comment.rating, 'star', 'stars') %></small>
                            - <small class="small_font"><%= time_ago_in_words(comment.created_at) %> ago</small>
                        </p>
                        <p>
                            <%= comment.comment %>
                        </p>
                    </li>
                <% end %>
            </ul>
        </div>
    <% else %>
         <div class="mt-4 p-5 bg-light rounded mb-4">
            <h3>There are no comments posted here yet</h3>
        </div>
    <% end %>
    <%= link_to "Back", recipes_path, class: 'btn btn-secondary' %>
</div>
