<%= form_for(@recipe) do |f| %>
<%= render 'layouts/error_message' %>

<p class="form-group">
    <%= f.label :Name %><br>
    <%= f.text_field :name, class:'form-control' %>
</p>
<p class="form-group">
    <%= f.label :Ingredients %><br>
    <%= f.text_area :stuff, cols:20, rows:5, class:'form-control' %>
</p>
<p class="form-group">
    <%= f.label :Recipe_type %><br>
    <%= f.select :kind, Recipe::KIND, prompt: 'Choose an option', class:'form-control' %>
</p>
<p class="form-group">
    <%= f.label :Calories %><br>
    <%= f.number_field :calories, class:'form-control' %>
</p>
<p class="form-group">
    <%= f.label :Directions %><br>
    <%= f.text_area :directions, cols:20, rows:5, class:'form-control' %>
</p>
<p class="form-group">
    <%= f.label :Preparation_time %><br>
    <%= f.time_select :preptime, class:'form-control' %>
</p>
<p class="form-group">
    <%= f.label :Serving %><br>
    <%= f.text_field :portion, class:'form-control' %>
</p>
<p class="form-group">
    <%= f.label :Cost %><br>
    <%= f.number_field :cost, step: :any, class:'form-control' %>
</p>
<p class="form-group">
    <%= f.label :Image %><br>
    <%= f.text_field :poster, placeholder: ".GIF, .JPEG or .PNG", class:'form-control' %>
</p>
<p class="form-group">
    <%= f.submit class:'btn btn-primary' %>
    <%= link_to "back", :back, class:'btn btn-secondary' %>
</p>

<% end %>
