<h1>Recipes</h1>
<%= link_to "New recipe", new_recipe_path %><br>
<ul>
    <% @recipes.each do |recipe| %>
        <li>
        <b><%= recipe.kind %></b>
        <h1><%= link_to recipe.name, recipe %></h1>
        <%= imagem(recipe) %><br>
        <%= recipe.preptime.to_formatted_s(:time) %> mins
        </li>
    <% end %>
</ul>
