<h1><%= @recipe.name %></h1>
<%= imagem(@recipe) %>
<h4>Recipe type:</h4>
<%= @recipe.kind %><br>
<h4>Ingredients:</h4>
<%= @recipe.stuff %><br>
<h4>Directions:</h4>
<%= @recipe.directions %><br>
<h4>Preparation time:</h4>
<%= @recipe.preptime.to_formatted_s(:time) %> mins<br>
<h4>Servings:</h4>
<%= @recipe.portion %><br>
<h4>Calories:</h4>
<%= formata_caloria(@recipe) %><br>
<h4>Cost:</h4>
<%= number_to_currency(@recipe.cost) %><br><br>
<%= link_to "Back", recipes_path %>&nbsp&nbsp
<%= link_to "Edit", edit_recipe_url(@recipe) %>&nbsp&nbsp
<%= link_to "Delete", recipe_path(@recipe), method: :delete, data:{confirm: "Are you sure?"} %>
